{% extends "nunjucks/base.html" %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald|Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap4-executive-suite.min.css">
{% endblock %}

{% block content %}
<div class="jumbotron py-0 bg-light text-dark mb-0 radius-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 mr-auto d-none d-xl-block">
        <div class="executive-image">
          <img src="images/executive-image.jpg"
               width="445"
               srcset="images/executive-image.jpg 445w, images/executive-image@2x.jpg 890w"
               alt="Rockefeller Building">

        </div>
      </div>
      <div class="col-xl-6 ml-auto jumbo-vertical-center">
        <div>

          <h1 class="display-3 mb-2 display-fix">Executive Suite</h1>
          <span class="text-merriweather">This is a starter template with a jumbotron.</span>

          <div class="mt-3">
            <a href="#!"
               class="btn btn-dark btn-lg my-2 mr-2 text-oswald btn-wide">
              <span>A Button</span>
            </a>

            <a href="#!"
               class="btn btn-outline-dark btn-lg my-2 text-oswald btn-wide">
              <span>Another Button</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
