{% extends "nunjucks/base.html" %}

{% block content %}
<div class="jumbotron bg-danger text-white radius-0 mb-0">
  <div class="container">
    <h1 class="display-1 text-chicle text-light">Bubblegum</h1>
    <span class="lead text-light">This is a starter template with a jumbotron</span>

    <div class="mt-4">
      <a href="#!"
         class="btn btn-light btn-lg my-2 mr-2 btn-wide text-danger">
        <span>Button</span>
      </a>

      <a href="#!"
         target="_blank"
         class="btn btn-outline-light btn-lg my-2 btn-wide btn-hover-text-danger">
        <span>Another Button</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Chicle|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap4-bubblegum.min.css">
{% endblock %}
