{% extends "nunjucks/base.html" %}

{% block content %}
<div class="jumbotron bg-primary text-center text-white mb-0 radius-0">
  <div class="container">

    <h1 class="display-3 text-white text-handwriting text-uppercase">Programmers never</h1>
    <h1 class="display-1 text-success text-uppercase title-margin-fix">Daydream</h1>

    <div>
      <a href="#!"
         class="btn btn-outline-light btn-lg m-2 btn-hover-text-primary">
        <span>A Button</span>
      </a>

      <a href="#!"
         class="btn btn-outline-light btn-hover-text-primary btn-lg m-2">
        <span>Another button</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Shadows+Into+Light" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap4-daydream.min.css">
{% endblock %}

