{% extends "nunjucks/base.html" %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap4-growth.min.css">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fullheight bg-growth bg-dark text-white mb-0 radius-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">

        <h1 class="display-1 text-light display-fix">Growth</h1>
        <span class="lead">This is a starter template with a jumbotron.</span>

        <div class="mt-4">
          <a href="#!"
             class="btn btn-secondary btn-lg my-2 mr-2">
            <span>A Button</span>
          </a>

          <a href="#!"
             class="btn btn-outline-light btn-hover-text-dark btn-lg my-2">
            <span>Another Button</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

