{% extends "nunjucks/base.html" %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Montserrat|Shrikhand" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap4-retro.min.css">
{% endblock %}

{% block content %}
<div class="jumbotron bg-secondary text-center text-danger mb-0 radius-0">
  <div class="container">
    <div class="ht-tm-header">
      <h1 class="display-1 display-xxl text-uppercase">Retro</h1>
      <span class="lead">This is a starter template with a jumbotron</span>

      <div class="mt-4">
        <a href="#!"
           class="btn btn-danger btn-lg m-2 text-secondary btn-ht-dl-message">
          <span>A Button</span>
        </a>

        <a href="#!"
           target="_blank"
           class="btn btn-danger text-secondary btn-lg m-2">
          <span>Another Button</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

