{% extends "html/_layouts/index.html" %}

{% block jumbotron %}
<div class="jumbotron bg-light mb-0 radius-0">
  <div class="container">

      <h1 class="display-1">Good News!</h1>
      <span class="lead">This is a starter template with a jumbotron.</span>

      <div class="mt-4">
        <a href="#!"
           class="btn btn-primary btn-lg my-2 mr-2">
          <span>A Button</span>
        </a>

        <a href="#!"
           class="btn btn-secondary btn-lg my-2">
          <span>Another Button</span>
        </a>
      </div>
  </div>
</div>
{% endblock %}

