{% extends "nunjucks/base.html" %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap4-vibrant-sea.min.css">
{% endblock %}

{% block content %}

<div class="jumbotron bg-primary text-white mb-0 radius-0">
  <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <h1 class="display-2">Vibrant Sea</h1>
          <div class="lead mb-5 text-reduced-opacity">This is a starter template with a jumbotron</div>
          <div>
            <a href="#!"
               class="btn btn-secondary btn-shadow btn-lg my-3 ml-1 ml-md-0 text-left">
              <span class="fa fa-download mr-xl-2"></span>
              <span>A Button</span>
            </a>
            <a href="#!"
               class="btn btn-info btn-shadow btn-lg my-3 ml-1 ml-md-3 text-left">
              <span class="fa fa-github-alt mr-xl-2"></span>
              <span>Another Button</span>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
