{% extends "nunjucks/base.html" %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap4-harbor.min.css">
{% endblock %}

{% block content %}
<div class="jumbotron bg-info jumbotron-harbor text-white mb-0 radius-0">
  <div class="container">

      <h1 class="display-1 text-light">Harbor</h1>
      <span class="lead">This is a starter template with a jumbotron</span>

      <div class="mt-4">
        <a href="#!"
           class="btn btn-success btn-pill btn-wide btn-lg my-2 mr-2">
          <span>A Button</span>
        </a>

        <a href="#!"
           class="btn btn-primary btn-pill btn-wide btn-lg my-2">
          <span>Another Button</span>
        </a>
      </div>

  </div>
</div>
{% endblock %}

